@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/Graphik_Collection/Graphik_Family/Graphik-Regular-Trial.otf"); /* IE9 Compat Modes */
}

$breakpoint-medium: 768px;
$breakpoint-large: 992px;

@mixin for-medium-screens {
      @media (min-width: $breakpoint-medium) {
        @content;
      }
    }

    @mixin for-large-screens {
      @media (min-width: $breakpoint-large) {
        @content;
      }
    }

$light-color: #f1f8fc;
$primary-color: #0074c7;
$dark-blue-color: #00497c;
$dark-grey-color: #384050;
$red-color: #cd2c2e;
$green-color: #82b864;

* {
  font-family: "Graphik", sans-serif;
}
h1 {
  font-weight: 500;
  font-size: 1.5rem;
  @include for-medium-screens {
    font-size: 2.125rem;
  }
  @include for-large-screens {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 1.4rem;
  @include for-medium-screens {
    font-size: 1.5rem;
  }
  @include for-large-screens {
    font-size: 1.875rem;
  }
}
h3 {
  font-size: 1.3rem;
  @include for-medium-screens {
    font-size: 1.35rem;
  }
  @include for-large-screens {
    font-size: 1.5rem;
  }
}
h4 {
  font-size: 1.25rem;
  @include for-medium-screens {
    font-size: 1.30rem;
  }
  @include for-large-screens {
    font-size: 1.4rem;
  }
}
h5 {
  font-size: 1.2rem;
  @include for-medium-screens {
    font-size: 1.25rem;
  }
  @include for-large-screens {
    font-size: 1.3rem;
  }
}
p {
  color: $primary-color;
  font-size:0.8rem;
  @include for-medium-screens {
    font-size: 0.9rem;
  }
  @include for-large-screens {
    font-size: 1rem;
  }
}
.breadcrumb{
  --bs-breadcrumb-divider: url(./assets/arrow-blue-small.svg);
}


#header-container {
  background-color: $light-color;
  box-shadow: 0 0.2rem 0.6rem $dark-grey-color;

  .logo {
    width: 163px;
    height: auto;
    @include for-medium-screens {
      width: 200px;
    }
    @include for-large-screens {
      width: 300px;
    }
  }
  .navbar-direction {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    .search-bar-input{
      display:none;
      @include for-large-screens {
        display: block;
      }
    }
  }

  .navbar-burger-menu{
    @include for-large-screens {
      display:none;
    }
  }
  // classes communes qui sont à la fois dans le Inline-menu et le burger-menu
  .nav-link.active{
    color: $dark-grey-color;
    font-weight: 900;
  } 
}

#home-container, #building-container, 
#services-container, #manufacturing-container, #craftsman-container{
  padding: 24px 48px;
  background-color: $light-color;
  min-height: 40vh;
}
#home-container{
  textarea {
    width: 100%;
  }
  .craftsman-list{
    width: 100%;
    height: 2rem;
    padding: 0.1rem;
  }
  .craftsman-list:hover{
    background-color: $dark-grey-color;
    color:$light-color;
  }

}
#craftsman-container{
  .craftsman-card-container{
    max-width: 60vw;
    .craftsman-title{
      color: $primary-color;
    }
    .card{
      background-color: $dark-grey-color;
      color: $light-color;
      .card-body{ 
        .text-justify{
          text-align: justify;
          color: $light-color;
          a {
            color: $light-color;
          }
          a :hover{
            color:$primary-color;
          }
        }

      }
    }
  }
}
#contactForm-container{
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  .contactForm-success{
    margin-top: 20px;
    padding: 8px;
    max-width: fit-content;
    background-color: $light-color;
    border: 1px solid $green-color;
    border-radius: 5px;
    color: $green-color;
  }
  .contactForm-failed{
    margin-top: 20px;
    padding: 8px;
    max-width: fit-content;
    background-color: $light-color;
    border: 1px solid $red-color;
    border-radius: 5px;
    color: $red-color;
  }
}

#footer-container{
  background-color: $primary-color;
  p, h1, h2, h3, h4, h5, hr, li, a, .footer-vl{
    color: $light-color;
  }
  .footer-informations{
    padding: 24px 48px;
    .footer-logo-container{
      margin:0;
    }
    .footer-logo{
      margin: 0 0 2rem 0;
      background-color: $light-color;
      width:200px;
      height: 200px;
      border-radius: 50%;
    }
    #footer-vertical-line-address{
      @include for-medium-screens {
        height: 200px;
      }
    }
    .footer-vl{
      border-left: 1.5px solid;
      display: inline-block; 
      margin: 0 10px; 
      height: 0px;
    }
    #footer-horizontal-line-address{
      @include for-medium-screens {
        width:0;
        margin:0;
      }
    }
    #footer-horizontal-line-legal-notices{
      @include for-large-screens {
        width:0!important;
        margin:0;
      }
    }
    #footer-vertical-line-legal-notices{
      @include for-large-screens {
        height: 200px;
      }
    }
    
    .footer-ul{
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      .footer-li{
        display: inline-block;
        margin: 0 1.5rem 0.5rem 0;
      }
    }
  }
  .socials{
    background-color: $light-color;
    hr{
      color: $dark-blue-color;
    }
    ul{
      li{
        color: $dark-grey-color;
      }
    }
  }
}
