@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/Graphik_Collection/Graphik_Family/Graphik-Regular-Trial.otf"); /* IE9 Compat Modes */
}
* {
  font-family: "Graphik", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.125rem;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 1.875rem;
  }
}

h3 {
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.35rem;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  h4 {
    font-size: 1.4rem;
  }
}

h5 {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  h5 {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  h5 {
    font-size: 1.3rem;
  }
}

p {
  color: #0074c7;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  p {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  p {
    font-size: 1rem;
  }
}

.breadcrumb {
  --bs-breadcrumb-divider: url(./assets/arrow-blue-small.svg);
}

#header-container {
  background-color: #f1f8fc;
  box-shadow: 0 0.2rem 0.6rem #384050;
}
#header-container .logo {
  width: 163px;
  height: auto;
}
@media (min-width: 768px) {
  #header-container .logo {
    width: 200px;
  }
}
@media (min-width: 992px) {
  #header-container .logo {
    width: 300px;
  }
}
#header-container .navbar-direction {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
#header-container .navbar-direction .search-bar-input {
  display: none;
}
@media (min-width: 992px) {
  #header-container .navbar-direction .search-bar-input {
    display: block;
  }
}
@media (min-width: 992px) {
  #header-container .navbar-burger-menu {
    display: none;
  }
}
#header-container .nav-link.active {
  color: #384050;
  font-weight: 900;
}

#home-container, #building-container,
#services-container, #manufacturing-container, #craftsman-container {
  padding: 24px 48px;
  background-color: #f1f8fc;
  min-height: 40vh;
}

#home-container textarea {
  width: 100%;
}
#home-container .craftsman-list {
  width: 100%;
  height: 2rem;
  padding: 0.1rem;
}
#home-container .craftsman-list:hover {
  background-color: #384050;
  color: #f1f8fc;
}

#craftsman-container .craftsman-card-container {
  max-width: 60vw;
}
#craftsman-container .craftsman-card-container .craftsman-title {
  color: #0074c7;
}
#craftsman-container .craftsman-card-container .card {
  background-color: #384050;
  color: #f1f8fc;
}
#craftsman-container .craftsman-card-container .card .card-body .text-justify {
  text-align: justify;
  color: #f1f8fc;
}
#craftsman-container .craftsman-card-container .card .card-body .text-justify a {
  color: #f1f8fc;
}
#craftsman-container .craftsman-card-container .card .card-body .text-justify a :hover {
  color: #0074c7;
}

#contactForm-container {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
}
#contactForm-container .contactForm-success {
  margin-top: 20px;
  padding: 8px;
  max-width: fit-content;
  background-color: #f1f8fc;
  border: 1px solid #82b864;
  border-radius: 5px;
  color: #82b864;
}
#contactForm-container .contactForm-failed {
  margin-top: 20px;
  padding: 8px;
  max-width: fit-content;
  background-color: #f1f8fc;
  border: 1px solid #cd2c2e;
  border-radius: 5px;
  color: #cd2c2e;
}

#footer-container {
  background-color: #0074c7;
}
#footer-container p, #footer-container h1, #footer-container h2, #footer-container h3, #footer-container h4, #footer-container h5, #footer-container hr, #footer-container li, #footer-container a, #footer-container .footer-vl {
  color: #f1f8fc;
}
#footer-container .footer-informations {
  padding: 24px 48px;
}
#footer-container .footer-informations .footer-logo-container {
  margin: 0;
}
#footer-container .footer-informations .footer-logo {
  margin: 0 0 2rem 0;
  background-color: #f1f8fc;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  #footer-container .footer-informations #footer-vertical-line-address {
    height: 200px;
  }
}
#footer-container .footer-informations .footer-vl {
  border-left: 1.5px solid;
  display: inline-block;
  margin: 0 10px;
  height: 0px;
}
@media (min-width: 768px) {
  #footer-container .footer-informations #footer-horizontal-line-address {
    width: 0;
    margin: 0;
  }
}
@media (min-width: 992px) {
  #footer-container .footer-informations #footer-horizontal-line-legal-notices {
    width: 0 !important;
    margin: 0;
  }
}
@media (min-width: 992px) {
  #footer-container .footer-informations #footer-vertical-line-legal-notices {
    height: 200px;
  }
}
#footer-container .footer-informations .footer-ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#footer-container .footer-informations .footer-ul .footer-li {
  display: inline-block;
  margin: 0 1.5rem 0.5rem 0;
}
#footer-container .socials {
  background-color: #f1f8fc;
}
#footer-container .socials hr {
  color: #00497c;
}
#footer-container .socials ul li {
  color: #384050;
}

/*# sourceMappingURL=app.css.map */
